<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @page.content %>
</p>

<p>
  <b>Seo keywords:</b>
  <%=h @page.seo_keywords %>
</p>

<p>
  <b>Seo description:</b>
  <%=h @page.seo_description %>
</p>

<p>
  <b>Published:</b>
  <%=h @page.published %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>