<% content_for :title, @page.title + ' - ' %>
<% content_for :seo_keywords, @page.seo_keywords %>
<% content_for :seo_description, @page.seo_description %>

<%= render :partial => 'layouts/header' %>	
	<div id="body">
	  <h1># event notes</h1>
  	
  	<div id="posts">
  	  <% @posts.each do |p| %>
  	    <div class="post">
    	    <h2># <a href="/notes/<%= p.slug %>" title="<%=h p.title %>"><%=h p.title %></a></h2>
    	    <%= snippet(p.content, 45, "... <p><a href='/notes/#{p.slug}'>read more</a> &rarr;</p>") %>
    	  </div>
  	  <% end %>
	  
  	  <%= will_paginate @posts %>
  	</div>
  </div>
<%= render :partial => 'layouts/footer' %>