<% content_for :title, @post.title + ' - ' %>
<% content_for :seo_keywords, @post.seo_keywords %>
<% content_for :seo_description, @post.seo_description %>


<%= render :partial => 'layouts/header' %>	
	<div id="body">
	  <div id="left-col">
      <h2 class="title"><span class="method-name">#</span><%=h @post.title %></h2>
      <p class="date">Last updated: <%=h @post.updated_at.to_s(:post_date) %></p>
      <%= @post.content %>
    </div>
    
  	<div id="right-col">
	    <ul id="post-list">
      	  <% @post_list.each do |p| %>
        	    <li><a href="/notes/<%= p.slug %>" title="<%=h p.title %>"><%=h p.title %></a></li>
      	  <% end %>
  	  </ul>
  	</div>
  </div>
<%= render :partial => 'layouts/footer' %>