<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
  <meta name="distribution" content="global" />
  <meta name="revisit-after" content="20 days" />
  <meta name="robots" content="all,follow,index" />
  <meta name="author" content="Tim Novinger, James Mitchell" />
  <meta name="owner" content="The Screaming Monkeys Web Guild" />
  <meta name="verify-v1" content="qxlqr4BDbtzi2Y22mHfgeci6UJTmvbxMO8aZLWjm16o=" />
  <meta name="copyright" content="&#169; Copyright <%= Time.now.year %> The Screaming Monkeys Web Guild http://www.screamingmonkeys.org/" />
  <meta name="keywords" content="<%= yield :seo_keywords %>" />
  <meta name="description" content="<%= yield :seo_description %>" />
  <meta name="abstract" content="The Screaming Monkeys Web Guild - Fort Wayne, Indiana" />
  <meta name="title" content="<%= yield :title %> The Screaming Monkeys Web Guild - Fort Wayne, Indiana" />
  
  <title><%= yield :title %> The Screaming Monkeys Web Guild - Fort Wayne, Indiana</title>

  <%= stylesheet_link_tag 'style' %>
	<!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->  
	<!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  
  <!-- !Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-5311875-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	  })();
	</script>
</head>
<body>
  <div id="nav">
    <ul>
			<% @tabs.each do |@tab| %>
			  <% unless @tab.permalink == '404' %>
	        <li><a href="/<%= @tab.permalink %>" title="<%= @tab.title %>" <%= is_current_tab %>><%= @tab.title %></a></li>
	      <% end %>
	    <% end %>
    </ul>
  </div>
  <div id="content-wrapper">
    <div id="header">
      <img src="images/badge.jpg" alt="The Screaming Monkeys Web Guild" id="logo-badge" />
      <img src="images/sm-guildtext-brown.png" alt="The Screaming Monkeys Web Guild" id="logo-text" />
	  </div>
  	
  	<div id="content">
  	  <div id="slideshow" class="border">
  	     <%= render :partial => "layouts/slides" %>
  	  </div>