<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
  <meta name="distribution" content="global" />
  <meta name="revisit-after" content="20 days" />
  <meta name="robots" content="all,follow,index" />
  <meta name="author" content="Tim Novinger, James Mitchell" />
  <meta name="owner" content="The Screaming Monkeys Web Guild" />
  <meta name="verify-v1" content="qxlqr4BDbtzi2Y22mHfgeci6UJTmvbxMO8aZLWjm16o=" />
  <meta name="copyright" content="&#169; Copyright <%= Time.now.year %> The Screaming Monkeys Web Guild http://www.screamingmonkeys.org/" />
  <meta name="keywords" content="<%= yield :seo_keywords %>" />
  <meta name="description" content="<%= yield :seo_description %>" />
  <meta name="abstract" content="The Screaming Monkeys Web Guild - Fort Wayne, Indiana" />
  <meta name="title" content="<%= yield :title %> The Screaming Monkeys Web Guild - Fort Wayne, Indiana" />
  
  <title><%= yield :title %> The Screaming Monkeys Web Guild - Fort Wayne, Indiana</title>
  <%= stylesheet_link_tag 'style' %>
  
<!-- !Google Analytics
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-5311875-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	  })();
	</script>
-->
</head>



  <!--
  Hi curious person that is viewing source of my site.  Now that you are here, I know 
  that you are an uber-nerd. Now I can talk about Star Wars and use my lame Han Solo
  voice...see I'm doing it right now.  Ok, so you are a nerd and you like the codes...
  the html codes to be exact.  Well, you are in a semi-decent area to learn.

  Feel free to learn from, analyze, and/or use the techniques used in this site.  I'm
  just a regular dude that learned css/xhtml/js the same exact way you are doing now.
  However, please don't steal my codes line for line, it's bad Joo Joo and the Universe
  will probably end up kicking your ass. And by Universe I of course am referring to
  Chuck Norris.
  -->




<body id="<%= bodytag_id %>">
  <div id="nav">
    <ul>
			<% @tabs.each do |@tab| %>
	      <li><a href="/<%= @tab.permalink %>" title="<%= @tab.title %>" <%= is_current_tab %>><%= @tab.title %></a></li>
	    <% end %>
    </ul>
  </div>
  <div id="content-wrapper">
    <div id="header">
      <img src="images/badge.jpg" alt="The Screaming Monkeys Web Guild" id="logo-badge" />
      <img src="images/sm-guildtext-brown.png" alt="The Screaming Monkeys Web Guild" id="logo-text" />
	  </div>
  	
  	<div id="content">
  	  <div id="slideshow">
  	    <img src="images/content/meeting-lrg.jpg" alt="" class="border" />
  	  </div>