<%= render :partial => 'layouts/header' %>	
	<div id="body">
    <% unless @page.images == nil? || @page.images.empty? %>
    
	    <div id="left-col">
	      <%= yield %>
        <%= rss_feed %>
	    </div>
  	  
  	  <div id="right-col">
  	    <%= page_images %>
    	</div>
    	
    <% else %>

  	  <%= yield %>
    
  	<% end %>
  </div>
<%= render :partial => 'layouts/footer' %>